<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://devcenter.Dokku.com/articles/how-Dokku-works"><span class="glyphicon glyphicon-user"></span> How Dokku Works</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-ruby">Getting Started with Ruby on Dokku</a></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-nodejs">Getting Started with Node on Dokku</a></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-php">Getting Started with PHP on Dokku</a></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-python">Getting Started with Python on Dokku</a></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-java">Getting Started with Java on Dokku</a></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-go">Getting Started with Go on Dokku</a></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-clojure">Getting Started with Clojure on Dokku</a></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-scala">Getting Started with Scala on Dokku</a></li>
            <li class="divider"></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-Dokku-and-connect-without-local-dev">Getting Started on Dokku with Dokku Connect</a></li>
            <li><a href="https://devcenter.Dokku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Dokku (Microsoft Windows)</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.Dokku.com"><span class="glyphicon glyphicon-book"></span> Dokku Dev Center</a>
      </li>
    </ul>
  </div>
</nav>
